@{
    //ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
   <title>National Train reservation</title>
    <link rel="stylesheet" href="~/css/Home.css">
</head>
<body>
    <img src="~/Images/cairostation.jpg" width="1300" height="600">
</body>
</html>
